.btn {
    cursor: pointer;
}

.main {
    padding: 15px;
}

.form-control {
    margin: 10px 0;
}

.results {
    border: 1px dashed #ccc;
    padding-top: 10px;
}

.perplexities {
    padding-top: 15px;
}

.nextWordList {
    padding: 7px 0 0 10px;
}

.nextWordList ul {
    list-style-type: decimal;
}